body {
    background-color: gainsboro;
}
*:link {
    color: black;
}
*:hover {
    color: black;
}
*:visited {
    color: black;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.layer {
    margin-top: 50px;
    margin-bottom: 50px;
}
.header {
    background-color: lightslategrey;
    padding: 10px;
    overflow: hidden;
}
.logo {
    float: left;
    width: 56px;
}
.title {
    float: left;
    margin-left: 15px;
}
.content {
    background-color: lightslategrey;
    width: 100%;
    display: inline-block;
    padding: 10px;
}  
.resources {
    background-color: gainsboro;
    width: 250px;
    height: 450px;
    float: left;
    padding: 10px;
}
.icon {
    width: 35px;
    height: auto;
}
.village {
    background-image: url("../../images/map.jpg");
    width: 560px;
    height: 450px;
    float: left;
    margin: 0 10px;
}
.keep {
    position: absolute;
    margin-left: 240px;
    margin-top: 90px;
}
.tavern {
    position: absolute;
    margin-left: 130px;
    margin-top: 160px;
}
.army {
    background-color: gainsboro;
    width: 250px;
    height: 450px;
    float: left;
    padding: 10px;
}
.footer {
    background-color: lightslategrey;
    padding: 10px;
    text-align: center;
}

.responsive {
    width: 100%;
    height: auto;
}