body {
    background-color: gainsboro;
}
*:link {
    color: black;
}
*:hover {
    color: black;
}
*:visited {
    color: black;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.layer {
    margin-top: 50px;
    margin-bottom: 50px;
}
.header {
    background-color: lightslategrey;
    padding: 10px;
    overflow: hidden;
}
.logo {
    float: left;
    width: 56px;
}
.title {
    float: left;
    margin-left: 15px;
}
.account {
    float: right;
    margin-top: 15px;
    margin-right: 15px;
}
.content {
    background-color: lightslategrey;
    padding: 10px;
}
.resources {
    background-color: black;
    width: 250px;
    height: 450px;
    float: left;
}
.village {
    background-image: url("../../images/map.jpg");
    width: 560px;
    height: 450px;
    float: left;
    margin: 0 10px;
}
.keep {
    background-image: url("../../images/keep.png");
    width: 560px;
    height: 450px;
}
.army {
    background-color: black;
    width: 250px;
    height: 450px;
    float: left;
}
.footer {
    background-color: lightslategrey;
    padding: 10px;
    text-align: center;
}

.responsive {
    width: 100%;
    height: auto;
}