body {
    background-color: gainsboro;
}
*:link {
    color: black;
}
*:hover {
    color: black;
}
*:visited {
    color: black;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.layer {
    margin-top: 50px;
    margin-bottom: 50px;
}

.header {
    background-color: lightslategrey;
    padding: 10px;
    overflow: hidden;
}
.logo {
    float: left;
    width: 56px;
}
.title {
    float: left;
    margin-left: 15px;
}

.content {
    background-color: lightslategrey;
    width: 100%;
    display: inline-block;
    padding: 10px;
} 

.village-container {
    width: 100%;
    height: 450px;
    display: flex;
}

.left-panel {
    background-color: gainsboro;
    width: 27.5%;
    height: 100%;
    padding: 10px;
}
.icon {
    width: 35px;
    height: auto;
}

.village {
    background-image: url("../../images/map.jpg");
    width: 60%;
    height: 100%;
    margin: 0 10px;
}
.keep {
    position: absolute;
    margin-left: 240px;
    margin-top: 90px;
}
.keep:hover {
    cursor: pointer;
}
.tavern {
    position: absolute;
    margin-left: 130px;
    margin-top: 160px;
}

.right-panel {
    background-color: gainsboro;
    width: 27.5%;
    height: 100%;
    padding: 10px;
}
#army {
    display: block;
}
#keep-panel {
    display: none;
}

.world-grid {
    width: 60%;
    margin: auto;
}
.world-box {
    width: 16%;
    height: 8%;
    border: 1px solid black;
    float: left;
}

.chat-container {
    width: 560px;
    height: 450px;
}
.chat {
    background-color: gainsboro;
    height: 85%;
    margin-bottom: 10px;
}
.message-container {
    width: 560px;
}

.footer {
    background-color: lightslategrey;
    padding: 10px;
    text-align: center;
}

.responsive {
    width: 100%;
    height: auto;
}